<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<nav>
  <h1>Flaskr</h1>
  <ul>
    {% if g.user %}
    <li class="alineado">{{ g.user['username'] }} - <a class="alineado" href="{{ url_for('auth.actualizarGmail') }}"> {{g.user['gmail']}} </a></li>

    <li ><a href="{{ url_for('auth.logout') }}">cerrar sesion</a> </li>
      {% else %}

    <li><a href="{{ url_for('auth.register') }}">Registro</a></li>
    <li>
      <a href="{{ url_for('auth.login') }}">Ingresar</a>
      {% endif %}
    </li>
  </ul>
</nav>
<section class="content">
  <header>{% block header %}{% endblock %}</header>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %} {% block content %}{% endblock %}
</section>
